parameters:
    level: max
    paths:
        - src
    ignoreErrors:
        - '#Call to an undefined method Doctrine\\ORM\\EntityRepository#'
    excludes_analyse:
        - */node_modules/*
        - */bower_components/*
        - */static/*
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
