{% extends "account/base.html.twig" %}

{% block inner_content %}
    <div class="container">
        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <p class="text-confirm">{% trans %}user.deleted_his_account{% endtrans %}</p>
    </div>
{% endblock %}
