{% extends "account/base.html.twig" %}

{% block inner_content %}
    <div class="container">
        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        {% form_theme form 'account/forms.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <button class="btn btn-primary" type="submit">
                <span class="label"><span class="label-text">{% trans %}user.sign_up.button{% endtrans %}</span></span>
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block additional_scripts %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
