{% extends "pages/base.html.twig" %}


{% block inner_content %}
    <div class="container">
        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>
    </div>
{% endblock %}
